@import '../../styles/main';

.charityOuterContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
}

.charityContainer {
  display: flex;
  margin-top: 30px;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $wildSand;
}

.id {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  min-height: 300px;
  background: $wildSand;
  color: black;
}

.leftBox {
  @extend .box;
  width: 40%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  @media (max-width: 600px) {
    width: 50%;
  }
}

.rightBox {
  @extend .box;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding: 60px;
  width: 60%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: relative;

  @media (max-width: 600px) {
    width: 50%;
  }

  &:before {
    display: block;
    content: '';
    width: 3px;
    height: calc(100% - 120px);
    left: 0;
    background: black;
    position: absolute;
  }
}

.logoImage {
  max-width: 95%;
  transition: transform .5s ease;

  &:hover {
    transform: scale(2);
    z-index: 2;

    @media (max-width: 600px) {
      transform: scale(2) translateX(40px);
    }
  }
}

.title {
  text-align: left;
  font-size: 24px;
  margin: 0;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background: url('../../images/location-icon.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    left: -30px;
    top: calc(50% - 18px);
    width: 30px;
    height: 30px;
  }
}

.addressTitleContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: -20px;
}

.addressTitle {
  margin: 0;
  font-size: 18px;
}

.addressValue {
  margin: 0;
}

.bottomBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 5px;
}

.bottomBarA {
  background: rgb(218, 61, 184);
}

.bottomBarB {
  background: rgb(199, 109, 36);
}

.bottomBarC {
  background: #fff6af;
}
